/* Color utilities */
.bg-brand1 { background-color: var(--ds-color-brand1-background-tinted); }
.bg-brand2 { background-color: var(--ds-color-brand2-background-tinted); }
.bg-brand3 { background-color: var(--ds-color-brand3-background-tinted); }
.bg-accent { background-color: var(--ds-color-accent-background-tinted); }
.bg-neutral { background-color: var(--ds-color-neutral-background-tinted); }
.bg-info { background-color: var(--ds-color-info-background-tinted); }
.bg-success { background-color: var(--ds-color-success-background-tinted); }
.bg-warning { background-color: var(--ds-color-warning-background-tinted); }
.bg-danger { background-color: var(--ds-color-danger-background-tinted); }

.text-brand1 { color: var(--ds-color-brand1-text-default); }
.text-brand2 { color: var(--ds-color-brand2-text-default); }
.text-brand3 { color: var(--ds-color-brand3-text-default); }
.text-accent { color: var(--ds-color-accent-text-default); }
.text-neutral { color: var(--ds-color-neutral-text-default); }
.text-info { color: var(--ds-color-info-text-default); }
.text-success { color: var(--ds-color-success-text-default); }
.text-warning { color: var(--ds-color-warning-text-default); }
.text-danger { color: var(--ds-color-danger-text-default); }
