/* Margin utilities */
.m-0 { margin: 0; }
.m-sm { margin: var(--ds-size-1); }
.m-md { margin: var(--ds-size-3); }
.m-lg { margin: var(--ds-size-5); }

.mt-0 { margin-top: 0; }
.mt-sm { margin-top: var(--ds-size-1); }
.mt-md { margin-top: var(--ds-size-3); }
.mt-lg { margin-top: var(--ds-size-5); }

.mr-0 { margin-right: 0; }
.mr-sm { margin-right: var(--ds-size-1); }
.mr-md { margin-right: var(--ds-size-3); }
.mr-lg { margin-right: var(--ds-size-5); }

.mb-0 { margin-bottom: 0; }
.mb-sm { margin-bottom: var(--ds-size-1); }
.mb-md { margin-bottom: var(--ds-size-3); }
.mb-lg { margin-bottom: var(--ds-size-5); }

.ml-0 { margin-left: 0; }
.ml-sm { margin-left: var(--ds-size-1); }
.ml-md { margin-left: var(--ds-size-3); }
.ml-lg { margin-left: var(--ds-size-5); }

/* Padding utilities */
.p-0 { padding: 0; }
.p-sm { padding: var(--ds-size-1); }
.p-md { padding: var(--ds-size-3); }
.p-lg { padding: var(--ds-size-5); }

.pt-0 { padding-top: 0; }
.pt-sm { padding-top: var(--ds-size-1); }
.pt-md { padding-top: var(--ds-size-3); }
.pt-lg { padding-top: var(--ds-size-5); }

.pr-0 { padding-right: 0; }
.pr-sm { padding-right: var(--ds-size-1); }
.pr-md { padding-right: var(--ds-size-3); }
.pr-lg { padding-right: var(--ds-size-5); }

.pb-0 { padding-bottom: 0; }
.pb-sm { padding-bottom: var(--ds-size-1); }
.pb-md { padding-bottom: var(--ds-size-3); }
.pb-lg { padding-bottom: var(--ds-size-5); }

.pl-0 { padding-left: 0; }
.pl-sm { padding-left: var(--ds-size-1); }
.pl-md { padding-left: var(--ds-size-3); }
.pl-lg { padding-left: var(--ds-size-5); }
